# directory names black-list
.idea
target
tmp
wip

# potentially contains sensitive/secret information
*/main/resources/application.yml
/test/maven/config/application-test.yml
/maven-config.properties

# generated test files
/test/vagrant/roles
/test/vagrant/.vagrant*

# file extensions black-list
*.iml
*.retry

